@page
@model ProgettoAppWeb.Pages.AddSQLServerLocalModel

@{
    ViewData["Title"] = "Aggiungi SQLServer locale";
}

<h1>Connettiti ad un Database SQLServer locale</h1>

<hr />
<div class="row">
   <h1>Inserisci i parametri per aprire la connessione con un database SQLServer locale</h1>
    <div>
        <p>SQLServer</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="server.serverAddress" class="control-label"></label>
                <input asp-for="server.serverAddress" class="form-control" />
                <span asp-validation-for="server.serverAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="server.db" class="control-label"></label>
                <input asp-for="server.db" class="form-control" />
                <span asp-validation-for="server.db" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Apri Database" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Indietro</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
