@page
@model EsportaCsvServerModel


@{
    ViewData["Title"] = "Esporta in CSV";
}

<h1>Esporta in csv</h1>

<div>
    <h1>Inserisci il path del file sul quale vuoi esportare</h1>
    
   <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="padding-bottom:10px">
                <label asp-for="filePath" class="control-label"></label>
                <input asp-for="filePath" class="form-control" />
                <span asp-validation-for="filePath" class="text-danger"></span>
        </div>
        <div class="form-group">
               <input type="submit" value="Esporta" class="btn btn-primary" />
        </div>
    </form>
</div>