@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Scegli il DMBS verso cui aprire la connessione</h1>
    <a asp-page="AddSQLite">SQLite</a>
    <a asp-page="AddSQLServer">SQLServer</a>
    <a asp-page="AddSQLServerLocal">SQLServer Locale</a>
</div>
